body {
  color: #444444;
}

.required {
    color: #FF0000;
}

#search_in_progress {
  paddding: 20px;
}

#loadingicon, #loginiconform, #search_in_progress {
    display: none;
}

.btn-status {
    width: 80px;
}

.status-buttons {
    padding-left: 20px;
}

#removetag {
  display: none;
  text-decoration: none;
  border-bottom: 1px #999999 dotted;
  color: #999999;
}

#verifymode {
  cursor:pointer;
}

.pagingbutton {
  margin-right: 3px;
}

input.form-control, textarea.form-control, select.form-control {
  font-size: 1em;
}

.add_field_button {
  margin-top: 10px;
}

.tag-row {
  margin-bottom: 2px;
}

.btn-success {
  background-color: #4caf50;
  border-color: #4caf50;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
  }
  .form-inline{
    .link{
      width:25%;
    }
    .selectpicker{
      width: 25% !important;
    }
    span .input-group-btn{
      display: inline;
    }
  }
}

.tag_short_descr {
  font-size: 0.9em;
  color: #777777;
}

#search_newspilot_result {
  height: 440px;
  overflow: auto;
}

#debug {
  width: 500px;
  overflow: auto;
}

.btn-circle {
  width: 15px;
  height: 15px;
  margin-right: 7px;
}

.infobox {
  padding: 20px;
}

#map {
  width: 100%;
  height: 400px;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 900px;
  }
}

.tableheader {
  font-size: 1em;
}

.proposal_textbox {
  height: 35px;
  line-height: 35px;
}
.proposal_textarea {
  height: 85px;
}

.nptagsearch {
  padding: 5px;
  b {
    display: block;
    padding-bottom: 5px;
  }

  input {
    background-color: #FFFFB6;
    color: #555555;
  }
  input:focus {
    border-color: #555555 !important;
  }
}

.hp_tagsearch_container {
  background-color: #FFFFFF;
}
.person{
  .col-sm-6, .col-sm-12{
    padding-left: 0px;
  }
  :last-child{
    padding-right: 0px;
  }
}
#addlink{
  margin-left: 5px;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
